{
    "presets": [
        "@babel/preset-es2015",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "babel-plugin-transform-es2015-classes"
    ]
    "env": {
        "test": {
            "plugins": ["@babel/plugin-proposal-object-rest-spread"],
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}